<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
	<!-- layout -->
	<meta charset="UTF-8" th:remove="all"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" th:remove="all" />
	<link rel="stylesheet" type="text/css" href="../../static/vendor/lavish/lavish-bootstrap.css" th:remove="all" />
	<link rel="stylesheet" type="text/css" href="../../static/css/wish-poster.css" th:remove="all" />
	<script type="text/javascript" src="../../static/vendor/jquery/jquery-1.12.3.min.js" th:remove="all"></script>
	<script type="text/javascript" src="../../static/vendor/bootstrap-3.3.4/js/bootstrap.min.js" th:remove="all"></script>
	<!-- separate -->
	<title>New Wisher</title>
</head>
<body>

<div layout:fragment="navi">
	<div th:substituteby="parts/parts::navigationBar('wisher')"></div>
</div>

<div layout:fragment="content">
	<div class="container">
		<div class="page-header">
			<h1>New Wisher</h1>
		</div>
		
		<form th:action="@{/wisher/add}" method="post" th:object="${wisherAdditionForm}">
			<div th:classappend="${#fields.hasErrors('name')}? 'has-error has-feedback'" class="form-group">
				<label for="name">Name</label>
				<input th:field="*{name}" id="name" name="name" type="text" placeholder="Name" class="form-control" />
				<span th:if="${#fields.hasErrors('name')}" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="help-block" aria-hidden="true">Error</span>
			</div>
			<div th:classappend="${#fields.hasErrors('role')}? 'has-error has-feedback'" class="form-group">
				<label class="radio">Role</label>
				<div class="btn-group btn-group-justified" data-toggle="buttons">
					<label th:each="role : ${roles}" th:for="${#ids.next('role')}" class="btn btn-lg btn-default" th:classappend="${role.name() == wisherAdditionForm.getRole().name()}? 'active'">
						<input th:field="*{role}" th:value="${role.name()}" th:text="${role.name()}" type="radio" autocomplete="off" />
					</label>
				</div>
				<span th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="help-block" aria-hidden="true">Error</span>
			
			</div>
			<div th:classappend="${#fields.hasErrors('loginId')}? 'has-error has-feedback'" class="form-group">
				<label for="name">Login ID</label>
				<input th:field="*{loginId}" id="loginId" name="loginId" type="text" placeholder="Login ID" class="form-control" />
				<span th:if="${#fields.hasErrors('loginId')}" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				<span th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}" class="help-block" aria-hidden="true">Error</span>
			</div>
			<div th:classappend="${#fields.hasErrors('password')}? 'has-error has-feedback'" class="form-group">
				<label for="name">Password</label>
				<input th:field="*{password}" id="password" name="password" type="password" placeholder="Password" class="form-control" />
				<span th:if="${#fields.hasErrors('password')}" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="help-block" aria-hidden="true">Error</span>
			</div>
			<div th:classappend="${#fields.hasErrors('passwordConfirmer')}? 'has-error has-feedback'" class="form-group">
				<label for="name">Password Confirmation</label>
				<input th:field="*{passwordConfirmer}" id="passwordConfirmer" name="passwordConfirmer" type="password" placeholder="Password Confirmation" class="form-control" />
				<span th:if="${#fields.hasErrors('passwordConfirmer')}" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				<span th:if="${#fields.hasErrors('passwordConfirmer')}" th:errors="*{passwordConfirmer}" class="help-block" aria-hidden="true">Error</span>
			</div>
			<div class="btn-group btn-group-justified" role="group">
				<div class="btn-group" role="group">
					<a th:href="@{/wisher/}" href="#" class="btn btn-default btn-lg">Back</a>
				</div>
				<div class="btn-group" role="group">
					<button type="submit" class="btn btn-primary btn-lg">Add</button>
				</div>
			</div>
		</form>
	</div>
</div>
</body>
</html>