<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
	<!-- layout -->
	<meta charset="UTF-8" th:remove="all"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" th:remove="all" />
	<link rel="stylesheet" type="text/css" href="../../static/vendor/lavish/lavish-bootstrap.css" th:remove="all" />
	<link rel="stylesheet" type="text/css" href="../../static/css/wish-poster.css" th:remove="all" />
	<script type="text/javascript" src="../../static/vendor/jquery/jquery-1.12.3.min.js" th:remove="all"></script>
	<script type="text/javascript" src="../../static/vendor/bootstrap-3.3.4/js/bootstrap.min.js" th:remove="all"></script>
	<!-- separate -->
	<title>Wisher list</title>
</head>
<body>

<div layout:fragment="navi">
	<div th:substituteby="parts/parts::navigationBar('wisher')"></div>
</div>

<div layout:fragment="content">
	<div class="container">
		<div class="page-header">
			<h1>Wisher List</h1>
		</div>
		
		<p>
			<a th:href="@{/wisher/add}" class="btn btn-primary btn-lg btn-block">New Wisher</a>
		</p>

		<div th:each="subWishers : ${wishers.subPages(2)}" th:remove="all-but-first" class="row">
			<div th:each="wisher : ${subWishers}" th:object="${wisher}" th:remove="all-but-first" class="col-xs-12 col-lg-6">
				<div th:attr="class=|panel ${#bsWisher.panelClass(wisher.role())}|" class="panel panel-danger">
					<div class="panel-heading clearfix">
						<div class="pull-left">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							<span th:text="*{name()}">Someone</span>
						</div>
						<div class="pull-right">
							<span th:text="*{role().name()}" th:attr="class=|label ${#bsWisher.labelClass(wisher.role())}|" class="label label-danger">ADMIN</span>
						</div>
					</div>
					<div class="panel-body">
						<p>
							<span class="label label-default">Login ID</span>
							<span th:text="*{loginId()}">login id</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	
		<div th:if="${wishers.totalPages()} > 1" class="center-block text-center">
			<div th:substituteby="parts/parts::paginationBar(${wishers})"></div>
		</div>
		
		<p th:if="${wishers.totalPages()} > 1">
			<a th:href="@{/wisher/add}" class="btn btn-primary btn-lg btn-block">New Wisher</a>
		</p>
	</div>
</div>
</body>
</html>