<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
	<!-- layout -->
	<meta charset="UTF-8" th:remove="all"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" th:remove="all" />
	<link rel="stylesheet" type="text/css" href="../../static/vendor/lavish/lavish-bootstrap.css" th:remove="all" />
	<link rel="stylesheet" type="text/css" href="../../static/css/wish-poster.css" th:remove="all" />
	<script type="text/javascript" src="../../static/vendor/jquery/jquery-1.12.3.min.js" th:remove="all"></script>
	<script type="text/javascript" src="../../static/vendor/bootstrap-3.3.4/js/bootstrap.min.js" th:remove="all"></script>
	<!-- separate -->
	<title>New Wish</title>
</head>
<body>

<div layout:fragment="navi">
	<div th:substituteby="parts/parts::navigationBar('wish')"></div>
</div>

<div layout:fragment="content">
	<div class="container">
		<div class="page-header">
			<h1>New Wish</h1>
		</div>
		
		<form th:action="@{/wish/add}" method="post" th:object="${wishAdditionForm}">
			<div th:classappend="${#fields.hasErrors('name')}? 'has-error has-feedback'" class="form-group">
				<label for="name">Name</label>
				<input th:field="*{name}" id="name" name="name" type="text" placeholder="Name" class="form-control" />
				<span th:if="${#fields.hasErrors('name')}" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="help-block" aria-hidden="true">Error</span>
			</div>
			<div th:classappend="${#fields.hasErrors('quantity')}? 'has-error has-feedback'" class="form-group">
				<label for="quantity">Quantity</label>
				<input th:field="*{quantity}" id="quantity" name="quantity" type="number" placeholder="Quantity" class="form-control"/>
				<span th:if="${#fields.hasErrors('quantity')}" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				<span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="help-block" aria-hidden="true">Error</span>
			</div>
			<div th:classappend="${#fields.hasErrors('priority')}? 'has-error has-feedback'" class="form-group">
				<label class="radio">Priority</label>
				<div class="btn-group btn-group-justified" data-toggle="buttons">
					<label th:each="priority : ${priorities}" th:for="${#ids.next('priority')}" class="btn btn-lg btn-default" th:classappend="${priority.name() == wishAdditionForm.getPriority().name()}? 'active'">
						<input th:field="*{priority}" th:value="${priority.name()}" th:text="${priority.label()}" type="radio" autocomplete="off" />
					</label>
				</div>
				<span th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}" class="help-block" aria-hidden="true">Error</span>
			
			</div>
			<div th:classappend="${#fields.hasErrors('comment')}? 'has-error has-feedback'" class="form-group">
				<label for="comment">Comment</label>
				<textarea th:field="*{comment}" id="comment" name="comment" placeholder="Comment" class="form-control"></textarea>
				<span th:if="${#fields.hasErrors('comment')}" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				<span th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}" class="help-block" aria-hidden="true">Error</span>
			</div>
			<div class="btn-group btn-group-justified" role="group">
				<div class="btn-group" role="group">
					<a th:href="@{/wish/}" href="#" class="btn btn-default btn-lg">Back</a>
				</div>
				<div class="btn-group" role="group">
					<button type="submit" class="btn btn-primary btn-lg">Add</button>
				</div>
			</div>
		</form>
	</div>
</div>
</body>
</html>