<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/lavish/lavish-bootstrap.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/wish-poster.css}" />
	<script type="text/javascript" th:src="@{/vendor/jquery/jquery-1.12.3.min.js}"></script>
	<script type="text/javascript" th:src="@{/vendor/bootstrap-3.3.4/js/bootstrap.min.js}"></script>
	<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Wish Poster</title>
</head>
<body>
<div layout:fragment="navi">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Wish Poster</a>
			</div>
			
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav">
				</ul>
			</div>
		</div>
	</nav>
</div>

<div layout:fragment="content">
Content area
</div>

<div layout:fragment="footer">
	<footer class="footer">
		<div class="container">
			<p class="text-muted">Copyright <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> 2016-2018 Norio All rights reserved.</p>
		</div>
	</footer>
</div>

</body>
</html>