<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
	<!-- layout -->
	<meta charset="UTF-8" th:remove="all"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" th:remove="all" />
	<link rel="stylesheet" type="text/css" href="../../static/vendor/lavish/lavish-bootstrap.css" th:remove="all" />
	<link rel="stylesheet" type="text/css" href="../../static/css/wish-poster.css" th:remove="all" />
	<script type="text/javascript" src="../../static/vendor/jquery/jquery-1.12.3.min.js" th:remove="all"></script>
	<script type="text/javascript" src="../../static/vendor/bootstrap-3.3.4/js/bootstrap.min.js" th:remove="all"></script>
	<!-- separate -->
	<title>Task list</title>
</head>
<body>

<div layout:fragment="navi">
	<div th:substituteby="parts/parts::navigationBar('task')"></div>
</div>

<div layout:fragment="content">
	<div class="container">
		<div class="page-header">
			<h1>Task List</h1>
		</div>
		
		<p>
			<a th:href="@{/task/add}" class="btn btn-primary btn-lg btn-block">New Task</a>
		</p>

		<div th:each="subTasks : ${tasks.subPages(2)}" th:remove="all-but-first" class="row">
			<div th:each="task : ${subTasks}" th:object="${task}" th:remove="all-but-first" class="col-xs-12 col-lg-6">
				<div th:attr="class=|panel ${#bsTask.panelClass(task.priority())}|" class="panel panel-danger">
					<div class="panel-heading clearfix">
						<div class="pull-left">
							<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
							<span th:text="*{name()}">Play Station 4</span>
							<span th:text="${#dates.format(task.deadline(), 'yyyy-MM-dd')}" class="badge">2</span>
						</div>
						<div class="pull-right">
							<a th:attr="onclick=|document.deleteForm${task.id()}.submit();return false;|" href="javascript:void(0)" class="text-danger"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>
						</div>
					</div>
					<div class="panel-body">
						<p>
							<span th:text="*{comment()}" class="comment">I need it...!!</span>
						</p>
						<div class="pull-right">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							<span th:text="*{wisher().name()}">Nori</span>
						</div>
					</div>
					<form th:attr="name=|deleteForm${task.id()}|" th:action="@{/task/delete}" th:object="${taskDeletionForm}" method="post" class="hidden">
						<input type="hidden" name="id" th:value="${task.id()}" />
					</form>
				</div>
			</div>
		</div>
	
		<div th:if="${tasks.totalPages()} > 1" class="center-block text-center">
			<div th:substituteby="parts/parts::paginationBar(${tasks})"></div>
		</div>
		
		<p th:if="${tasks.totalPages()} > 1">
			<a th:href="@{/task/add}" class="btn btn-primary btn-lg btn-block">New Task</a>
		</p>
	</div>
</div>
</body>
</html>