/* line 1, ../../../../../scss/partial/_sign-in.scss */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

/* line 6, ../../../../../scss/partial/_sign-in.scss */
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

/* line 10, ../../../../../scss/partial/_sign-in.scss */
.form-signin .checkbox {
  font-weight: normal;
}

/* line 13, ../../../../../scss/partial/_sign-in.scss */
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

/* line 22, ../../../../../scss/partial/_sign-in.scss */
.form-signin .form-control:focus {
  z-index: 2;
}

/* line 25, ../../../../../scss/partial/_sign-in.scss */
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 30, ../../../../../scss/partial/_sign-in.scss */
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Sticky footer styles
-------------------------------------------------- */
/* line 3, ../../../../../scss/partial/_footer.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 7, ../../../../../scss/partial/_footer.scss */
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* line 11, ../../../../../scss/partial/_footer.scss */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #AD6B42;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
/* line 25, ../../../../../scss/partial/_footer.scss */
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

/* line 30, ../../../../../scss/partial/_footer.scss */
.container .text-muted {
  margin: 20px 0;
}

/* line 5, ../../../../../scss/wish-poster.scss */
body {
  padding-top: 70px;
}
