<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/lavish/lavish-bootstrap.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/wish-poster.css}" />
	<script type="text/javascript" th:src="@{/vendor/jquery/jquery-1.12.3.min.js}"></script>
	<script type="text/javascript" th:src="@{/vendor/bootstrap-3.3.4/js/bootstrap.min.js}"></script>
	<title>BCrypt tool</title>
</head>
<body>
	<form th:action="@{/tool/bcrypt}" method="post">
		<div class="form-group">
			<label for="password" class="sr-only">Password</label>
			<input id="password" type="text" name="password" placeholder="Password" class="form-control"/>
		</div>
		<button type="submit" class="btn btn-default">Crypt</button>
	</form>
	
	<div th:if="${encodedPassword}">
		<p th:text="${encodedPassword}">Encoded Password</p>
	</div>
</body>
</html>