<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<!-- layout -->
	<meta charset="UTF-8" th:remove="all"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" th:remove="all" />
	<link rel="stylesheet" type="text/css" href="../../static/vendor/lavish/lavish-bootstrap.css" th:remove="all" />
	<link rel="stylesheet" type="text/css" href="../../static/css/wish-poster.css" th:remove="all" />
	<script type="text/javascript" src="../../static/vendor/jquery/jquery-1.12.3.min.js" th:remove="all"></script>
	<script type="text/javascript" src="../../static/vendor/bootstrap-3.3.4/js/bootstrap.min.js" th:remove="all"></script>
	<!-- separate -->
	<title>parts</title>
</head>
<body>

	<!-- navigation bar -->
	<nav th:fragment="navigationBar(activeMenu)" class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Wish Poster</a>
			</div>
			
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav">
					<li th:classappend="${activeMenu == 'wish'}? 'active'"><a th:href="@{/wish/}">Wish</a></li>
					<li th:classappend="${activeMenu == 'task'}? 'active'"><a th:href="@{/task/}">Task</a></li>
					<li sec:authorize="hasRole('ADMIN')" th:classappend="${activeMenu == 'wisher'}? 'active'"><a th:href="@{/wisher/}">Wisher</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
							<span sec:authentication="principal.name">Someone</span>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a th:href="@{/logout}">Sign out</a></li>
						</ul>
					</li>
				</ul>
				
			</div>
		</div>
	</nav>

	<!-- pagination -->
	<nav th:fragment="paginationBar(pagination)">
		<ul class="pagination">
			<li th:classappend="${pagination.isFirstPage()}? 'disabled'">
				<span th:if="${pagination.isFirstPage()}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></span>
				<a th:if="${not pagination.isFirstPage()}" th:href="@{${pagination.url()}(page=1, size=${pagination.pageSize()})}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
			</li>
			<li th:classappend="${not pagination.hasPreviousPage()}? 'disabled'">
				<span th:if="${not pagination.hasPreviousPage()}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></span>
				<a th:if="${pagination.hasPreviousPage()}" th:href="@{${pagination.url()}(page=${pagination.pageNumber()}, size=${pagination.pageSize()})}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
			</li>
			<li th:each="item : ${pagination.paginationItems()}" th:classappend="${item.isCurrent()}? 'active'">
				<span th:if="${item.isCurrent()}" th:text="${item.number()}">1</span>
				<a th:if="${not item.isCurrent()}" th:href="@{${pagination.url()}(page=${item.number()}, size=${pagination.pageSize()})}" th:text="${item.number()}">1</a>
			</li>
			<li th:remove="all"><span>2</span></li>
			<li th:remove="all"><span>3</span></li>
			<li th:remove="all"><span>4</span></li>
			<li th:classappend="${not pagination.hasNextPage()}? 'disabled'">
				<span th:if="${not pagination.hasNextPage()}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span>
				<a th:if="${pagination.hasNextPage()}" th:href="@{${pagination.url()}(page=${pagination.pageNumber() + 2}, size=${pagination.pageSize()})}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
			</li>
			<li th:classappend="${pagination.isLastPage()}? 'disabled'">
				<span th:if="${pagination.isLastPage()}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span>
				<a th:if="${not pagination.isLastPage()}" th:href="@{${pagination.url()}(page=${pagination.totalPages()}, size=${pagination.pageSize()})}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
			</li>
		</ul>
	</nav>
</body>
</html>